@using AccountingOfSales.Models;
@model TypeReturn

@using (Html.BeginForm("Create", "TypeReturn", FormMethod.Post))
{
    <a href="#" onclick="visibilityForm('addTypeReturn')">Создать</a>

    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="addTypeReturn" style="display:none">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </div>
        <hr />
    </div>
}