<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Учет продаж</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/PagedList.css")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/ShowElement.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/locales/bootstrap-datepicker.ru.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Продукты", "Index", "Product")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "Product")</li>
                            <li>@Html.ActionLink("Архив", "Index", "Product", new { archive = true }, "")</li>
                            <li>@Html.ActionLink("Типы продукта", "Index", "TypeProduct")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Поставщики", "Index", "Provider")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "Provider")</li>
                            <li>@Html.ActionLink("Архив", "Index", "Provider", new { archive = true }, "")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Поступления", "Index", "Admission")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "Admission")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Прочие расходы", "Index", "OtherCosts")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "OtherCosts")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Продажи", "Index", "Sales")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "Sales")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Возвраты", "Index", "Return")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "Return")</li>
                            <li>@Html.ActionLink("Типы возврата", "Index", "TypeReturn")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Начисления", "Index", "Salary")
                        <ul class="submenu">
                            <li>@Html.ActionLink("Создать", "Create", "Salary")</li>
                        </ul>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(User.Identity.Name, "LogOff", "Account")</li>
                        <li>@Html.ActionLink("Выйти", "LogOff", "Account")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                        <li>@Html.ActionLink("Выполнить вход", "Login", "Account")</li>
                    </ul>
                }                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="footer">&copy; @DateTime.Now.Year – Штылев Александр Александрович</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>