@using AccountingOfSales.Models.ViewModel;
@model AdmissionCreateViewModels

@{
    ViewBag.Title = "Создание поступления";
    DateTime dateNow = DateTime.Now;
}

<h2>Создание поступления</h2>
@*(Html.BeginForm("Create", "Admission", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
@using (Ajax.BeginForm("ListAddAdmissions", "Admission", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Выберите поставщика", new { @class = "col-md-2 control-label" })
        @Html.DropDownList("ProviderId", ViewBag.Providers as SelectList, new { @class = "form-control", id = "provider" })
    </div>
    
    <div class="form-inline">
        @Html.TextBox("AdmissionDate", dateNow.ToShortDateString(), htmlAttributes: new { @class = "form-control datepicker", style="width:150px", placeholder = "Дата поступления" })
        @Html.DropDownList("ProductId", ViewBag.Products as SelectList, new { @class = "form-control", id = "product" })
        @Html.TextBoxFor(model => model.TradePrice, dateNow.ToShortDateString(), htmlAttributes: new { @class = "form-control", placeholder = "Оптовая цена" })
        @Html.TextBoxFor(model => model.Count, dateNow.ToShortDateString(), htmlAttributes: new { @class = "form-control", placeholder = "Количество" })
    </div>
    <br />
    <input type="submit" value="Добавить" class="btn btn-primary" />
}
<br />
<div id="results"></div>

@section scripts{
<script type="text/javascript">
        $(function () {

            $('#provider').change(function () {
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetProducts")/' + id,
                    success: function (data) {

                        // заменяем содержимое присланным частичным представлением
                        $('#product').replaceWith(data);
                    }
                });
            });
        })

    $('.datepicker').datepicker({
        format: "dd.mm.yyyy",
        language: "ru",
        autoclose: true,
        todayHighlight: true
    });
</script>
}